{% extends "base_generic.html" %} 
{% block title %}<title>Local Library Website</title>{% endblock %}
 {% block content %}
<h1>Local Library Home</h1>
<p>
  Welcome to LocalLibrary, a website developed by
  <em>Mozilla Developer Network</em>!
</p>
<h2>Dynamic content</h2>
<p>The library has the following record counts:</p>
<ul>
  <li><strong>Books:</strong> {{ num_books }}</li>
  <li><strong>Copies:</strong> {{ num_instances }}</li>
  <li><strong>Copies available:</strong> {{ num_instances_available }}</li>
  <li><strong>Authors:</strong> {{ num_authors }}</li>
  <li><strong>Genres:</strong> {{ num_genres }}</li>
  <li><strong>copies with programming title:</strong> {{ certain_words_books}}</li>
</ul>
<!-- pluralze is a django built in templeta tag for adding an 's ' when the number of times is greater than 1 -->
<p>You have visited this page {{ num_visits }} time{{ num_visits|pluralize }}.</p>
{% endblock %}
